* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  color: #1b1818;
  text-align: center;
}
/* .app_btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 25px;
  color: #fefefe;
  background-color: #5f9ea0;
  border: 1px transparent;
  transition: all 0.5s;
}
.app_btn:hover {
  color: cadetblue;
  background-color: #fefefe;
  border: 1px solid #5f9ea0; */
/* } */
.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}
.items {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.item {
  border: solid #1b1818;
  width: 200px;
  height: 200px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.item:hover {
  transform: scale(1.26);
  transition: all 0.5s;
}
.rent {
  padding: 100px 0;
}
.rent__inner {
  display: flex;
  justify-content: space-between;
}
.rent__item {
  border: 1px solid #332208;
  width: 250px;
  min-height: 350px;
  padding: 0 35px 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.rent__item-num {
  font-size: 96px;
  line-height: 115px;
  font-weight: 700;
  opacity: 0.05;
}
.rent_item-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
}
@media (max-width: 1100px) {
  .rent__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .rent__item {
    margin-bottom: 20px;
  }
}
@media (max-width: 650px) {
  .items {
    flex-wrap: wrap;
  }
  .item {
    margin-bottom: 30px;
  }
  .rent__item {
    width: 100%;
    min-height: 250px;
  }
  @media (max-width: 450px) {
    .item {
      width: 100%;
    }
  }
  .rent__item {
    margin: 30px 0;
  }
}
